
.jumbotron{
	padding-top:7rem;
	background-color:#b0f5e8;
}
#about{
	background-color:#f0fafa;
}

#projects{
	background-color:#b0f5e8;
}
#contact{
	background-color:f0fafa;
}
section{
	padding-top:4rem;
}